.App {
  text-align: center;
  padding: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.booksForm {
  display: grid;
  padding: 25px;
  text-align: left;
}

.booksForm > * {
  height: 50px;
}

.form-span {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
}

.btn-book-form {
  margin-top: 25px;
}

.select-filter {
  display: none;
}

.link {
  text-align: left;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.School-of {
  width: 112px;
  height: 18px;
  text-align: left;
  margin: 0 39px 0 0;
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  width: 365px;
  height: 29px;
  text-align: left;
  margin: 3px 323px 0 0;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.border-color td,
.border-color th {
  border-color: white;
}

.Bookstore-CMS {
  width: 240px;
  height: 37px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: hsl(206, 100%, 50%);
}

.BOOKS {
  width: 59px;
  height: 16px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.CATEGORIES {
  width: 105px;
  height: 16px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.panel-bg {
  height: 95px;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 3fr 1fr 6fr 1fr;
  justify-content: center;
  align-items: center;
}

.Oval {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 14px;
  border: solid 1px #e8e8e8;
}

.Mask {
  width: 17px;
  height: 17px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Suzanne-Collins {
  width: 107px;
  height: 19px;
  text-align: left;
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.links-container {
  width: 307px;
  margin: 0;
  margin-top: 21px;
  padding: 0;
  display: flex;
  justify-content: left;
}

.Comments {
  width: 83px;
  height: 19px;
  margin: 3px 15px 2px 0;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
